@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@400;500&display=swap');

body {
  background-color: #130F1C;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #BAB9BD;
  max-width: 655px;
  margin: 0 auto;
}

/* sheet 1 */

.sheet1-container {
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.sheet1-input-grid-cotnainer {
  position: relative;
  width: 428px;
  height: 552px;
  background: #1F1B29;
  box-shadow: 40px 40px 60px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 32px 32px 32px 32px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 32px;
}

.loginpassword {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.grid-field1 {
  display: flex;
  flex-direction: column;
}

.field1-input-text {
  font-weight: 400;
  margin-bottom: 4px;
}

.inputfield1 {
  height: 48px;
  background: #2E2A36;
  border-radius: 5px;
  border: 1px;
  padding-left: 12px;
  color: #BAB9BD;
}

.field2 {
  display: flex;
  flex-direction: column;
}

.field2-input-text {
  font-weight: 400;
  margin-bottom: 4px;
}

.inputfield2 {
  height: 48px;
  background: #2E2A36;
  border-radius: 5px;
  border: 1px;
  padding-left: 12px;
  color: #BAB9BD;
}

.subsribe-radio {
  position: absolute;
  top: 222px;
  left: 32px;
  width: 161px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.subsribe-radio :hover {
  cursor: pointer;
}

.subscribe-checkbox {
  width: 28px;
  height: 16px;
  background: #FD7918;
  border-radius: 100px;
  margin: 0px;
  margin-right: 8px;
}

.signin {
  height: 48px;
  background: #651FFF;
  border-radius: 5px;
  border: 0px;
  color: #FFFFFF;
}

.signin:hover {
  cursor: pointer;
}

.forgot {
  text-decoration: underline;
  justify-self: center;
}

.forgot:hover {
  cursor: pointer;
}

.horizontal-row {
  background: #635F6B;
  border-radius: 11px;
  margin: 0%;
}

.continue-with {
  height: 88px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

.continue-with-text {
  color: #5A5761;
  margin-bottom: 16px;
}

.logo-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
}

.logo1 {
  background: #2E2A36;
  border-radius: 5px;
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo1 :hover {
  cursor: pointer;
}

.logo2 {
  background: #2E2A36;
  border-radius: 5px;
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo2 :hover {
  cursor: pointer;
}

@media screen and (max-width: 665px),
  screen and (max-height: 812px) {
  .sheet1-input-grid-cotnainer {
    width: 343px;
    height: 491px;
    position: relative;
    background: #1F1B29;
    box-shadow: 40px 40px 60px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 16px 16px 16px 16px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 32px;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #BAB9BD;
  }

  .inputfield1 {
    height: 48px;
  }

  .loginpassword {
    height: 169px;
    padding-bottom: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #BAB9BD;
  }

  .forgot {
    font-size: 16px;
    line-height: 24px;
  }

  .signin {
    font-size: 16px;
    line-height: 24px;
  }

  .subsribe-radio {
    top: 179px;
    left: 18px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    grid-column: span 2;
  }

  .continue-with-text {
    font-size: 16px;
    line-height: 24px;
  }

  .horizontal-row {
    height: 2px;
  }
}

/* sheet 2 */


.sheet2-bigcontainer {
  display: flex;
  justify-content: center;
}

.sheet2-container {
  min-width: 343px;
  width: 100%;
}

.sheet2-input-gridcotnainer {
  position: relative;
  display: grid;
  background: #1F1B29;
  box-shadow: 40px 40px 60px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 32px 32px 32px 32px;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
}

.sheet2-grid-header {
  grid-column: span 2;
  margin-bottom: 16px;
}

.roboto500 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.02em;
  color: #99969E;
}

.sheet2-input-gridcotnainer2 {
  display: grid;
  gap: 16px;
  grid-column: span 2;
}

.grid-field3 {
  width: 100%;
}

.field3-input-text {
  font-weight: 400;
  margin-bottom: 4px;
  width: 100%;
}

.inputfield3 {
  width: 100%;
  height: 48px;
  background: #2E2A36;
  border-radius: 5px;
  border: 1px;
  padding-left: 12px;
  color: #BAB9BD;
}

.subsribe-radio2 {
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  grid-column: span 2;
}

.subscribe-checkbox2 {
  width: 28px;
  height: 16px;
  background: #FD7918;
  border-radius: 100px;
  margin: 0px;
  margin-right: 8px;
}

.subscribe-checkbox2:hover {
  cursor: pointer;
}

.grid-field4 {
  width: 100%;
  grid-column: span 2;
}

.field4-input-text {
  font-weight: 400;
  margin-bottom: 4px;
  width: 100%;
}

.inputfield4 {
  grid-column: span 2;
  width: 100%;
  height: 102px;
  background: #2E2A36;
  border-radius: 5px;
  border: 1px;
  padding-left: 12px;
  color: #BAB9BD;
}

.inputfield4::placeholder {
  position: absolute;
  left: 12px;
  top: 8px;
}

.btn1 {
  height: 48px;
  background: #651FFF;
  border-radius: 5px;
  border: 0px;
  color: #FFFFFF;
  width: 141px;
  place-self: end;
  grid-column: span 2;
  margin-top: 16px;
}

.btn1:hover {
  cursor: pointer;
}

@media (max-width: 655px) {
  .sheet2-input-gridcotnainer {
    display: flex;
    flex-wrap: wrap;
  }

  .btn1 {
    min-width: 100%;
  }

  .grid-field4 {
    margin-bottom: -28px;
  }
  
  .sheet2-container {
    max-width: 343px;
  }

  .subsribe-radio2 {
    display: none;
  }
}

/* sheet 3 */

.sheet3-bigcontainer {
  display: flex;
  justify-content: center;
}

.sheet3-container {
  min-width: 343px;
  width: 100%;
}

.sheet32-input-gridcotnainer {
  position: relative;
  display: grid;
  grid-template-columns: 216px 1fr max-content;
  background: #1F1B29;
  box-shadow: 40px 40px 60px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 32px 32px 32px 32px;
}

.blue-container {
  width: 232px;
  margin-left: -32px;
  margin-top: -32px;
  margin-bottom: -32px;
  padding-right: 16px;
  padding-left: 32px;
  padding-top: 46px;
  background: #651FFF;
  box-shadow: 40px 40px 60px rgba(0, 0, 0, 0.1);
  border-radius: 10px 0px 0px 10px;
  display: grid;
  grid-auto-rows: max-content;
  gap: 32px;
  color: #FFFFFF;
}

.telephoneandemail-container {
  display: grid;
  grid-auto-rows: max-content;
  gap: 16px;
}

.telephone {
  display: flex;
  align-items: center;
  height: 16px;
  gap: 8px;
}

.telephone:hover {
  cursor: pointer;
}

.email {
  display: flex;
  align-items: center;
  height: 16px;
  gap: 8px;
}

.email:hover {
  cursor: pointer;
}

.sheet3-input-gridcotnainer2 {
  display: grid;
  gap: 16px;
  grid-column: span 2;
}

.sheet3-roboto500 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.02em;
  color: #99969E;
  grid-column: span 2;
  margin-bottom: 16px;
}

.subsribe-radio3 {
  display: none;
}

@media (max-width: 655px) {
  .blue-container {
    display: none;
  }

  .sheet3-container {
    max-width: 343px;

  }

  .sheet3-input-gridcotnainer2 {
    display: flex;
    flex-wrap: wrap;
  }
}

/* sheet4 */

.sheet4-input-gridcotnainer {
  position: relative;
  display: grid;
  background: #1F1B29;
  box-shadow: 40px 40px 60px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 32px 32px 32px 32px;
  grid-auto-rows: auto;
  grid-row-gap: 32px;
  grid-column-gap: 16px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #99969E;
}

.checkout {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.02em;
  color: #99969E;
  grid-column: span 2;
}

.orderdetails {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 16px;
}

.order {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.orderinfo {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #5A5761;
  margin-left: 56px;
  margin-top: -32px;
}

.productname {
  color: #99969E;
}

.sheet4-row {
  width: 100%;
  border-radius: 1px;
  display: none;
  height: 2px;

}

.deliverydetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 16px;
  grid-column-gap: 32px;
}

.delivery {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  grid-column: span 2;
}

.deliveryinfo {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #5A5761;
  margin-top: -32px;
}

.personname {
  color: #99969E;
}

.shippinginfo {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #5A5761;
  margin-top: -32px;
}

.shippingspeed {
  color: #99969E;
}

.payment {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  grid-column: span 2;
}

.inputinfo {
  margin-top: -16px;
  display: grid;
  grid-template-columns: 2;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #BAB9BD;
  margin-right: -8px;
}

.inputinfo2 {
  margin-top: -16px;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #BAB9BD;
}

.btn2 {
  height: 48px;
  width: 153px;
  background: #651FFF;
  border-radius: 5px;
  border: 0px;
  color: #FFFFFF;
  place-self: end;
  grid-column: span 2;
  margin-top: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.btn2:hover {
  cursor: pointer;
}

@media (max-width: 655px) {
  .sheet4-input-gridcotnainer {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 343px;
    padding-inline: 16px;
  }

  .btn2 {
    width: 100%;
  }

  .checkout {
    width: 100%;
  }

  .deliveryinfo {
    margin-top: -16px;
  }

  .shippinginfo {
    margin-top: -16px;
  }

  .inputinfo {
    width: 100%;
  }

  .btn2 {
    margin-top: 0px;
  }

  .orderdetails {
    width: 100%;
  }

  .sheet4-row {
    display: flex;
    color: #5A5761;
  }

  .privet {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .orderinfo {
    margin-top: 0px;
  }

}



